<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kasun.busysms">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Are You Busy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autoSms.autoSmsHome"
            android:parentActivityName=".home" />

        <receiver android:name=".autoSms.mycallRecevier">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".autoSms.mysmsRecevier">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".autoSms.timeSlotsList"
            android:parentActivityName=".home">
            <intent-filter>
                <action android:name="com.example.kasun.busysms.list_test_act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autoSms.addTimeSlot"
            android:parentActivityName=".home">
            <intent-filter>
                <action android:name="com.example.kasun.busysms.second" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autoSms.updateTimeSlot"
            android:parentActivityName=".home">
            <intent-filter>
                <action android:name="com.example.kasun.busysms.update_act" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".alarmHome" android:parentActivityName=".home" />
        <activity android:name=".blockerHome" android:parentActivityName=".home" />
        <activity android:name=".calendarHome" android:parentActivityName=".home"></activity>
    </application>

</manifest>